.portabl-connect-root button {
  text-decoration: none;
  color: black;
  font-family: Poppins;
  font-weight: 600;
  display: flex;
  line-height: 13px;
  font-size: 13px;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 13px;
  background: #ffffff;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
  border: 1px solid transparent;
  border-radius: 5px;
  cursor: pointer;
}

.portabl-connect-root button:hover {
  border: 1px solid #555555;
}

.portabl-connect-root button:active {
  background: black;
  color: white;
}

.portabl-connect-root button .connect-portabl-logo-svg-wrapper {
  background-image: url('./images/connect-with-portabl-black-text.svg');
  width: 166px;
  height: 20px;
}
.portabl-connect-root button:active .connect-portabl-logo-svg-wrapper {
  background-image: url('./images/connect-with-portabl-white-text.svg');
}
